<section id="#login">
    <div class="container">
        <div class="row ver-parent">
            <div class="col-md-4 col-md-offset-4 ver-center">
                <check if="{{ @message }}">
                    <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
                </check>
                <div class="panel panel-default"><div style="text-align:center;"><a href="http://mrlagenda.org/pic/mrlegenda.png" target="_blank"><img src="http://mrlagenda.org/pic/mrlegenda.png"width="200" height="200"></a>
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-sign-in fa-fw"></i> <FONT COLOR="#ff0000"><b><u><i>Please Login to BorutoPanel</i></u></b></FONT COLOR</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" type="password" required>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success btn-block"><b>Login</b></button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<html>

<head>
  <title>Links in HTML</title>
<title>Managemen Background</title>
</head>

<body bgcolor="#33FFFF">

  <a href="https://t.me/mrlegenda"><b><u><i>Contact Creator</i></u></b></a>
  <br>
  <a href="https://t.me/BorneoTrickGroup" target="_blank"> <b><u><i>Join Group</a></u></b></a>

</body>

</html>
   

